body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.center {
  padding-right: calc(50vw - 585px);
  padding-left: calc(50vw - 585px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

