.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  min-height: 40px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: var(--border-radius);
  background: var(--accent-dark-color);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  cursor: pointer;

  &:hover {
    scale: 110%;
    transition: 1s;
  }

  &_bordered {
    border-color: var(--accent-dark-color);
    background: transparent;
    border-radius: var(--border-radius);
  }

}