.nav {
  &__list {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;

    &_footer {
      gap: 30px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background: transparent;
      position: absolute;
      left: 0;
      top: 100%;
    }

    &:hover {
      opacity: 50%;
      transition: 1s;
    }

    &_active {
      color: var(--accent-color);

      &:before {
        background: currentColor;
      }
    }

    &_footer {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.71;
    }
  }
}
