.nav {
  &__list {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background: transparent;
      position: absolute;
      left: 0;
      top: 100%;
    }

    &_active {
      color: var(--accent-color);

      &:before {
        background: currentColor;
      }
    }
  }
}