.qq {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  gap: 20px;

  &__icon {
    list-style: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    padding-bottom: 20px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
  }

  &__desc {
    padding-bottom: 40px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    max-width: 900px;
  }

  &__name {
    color: var(--accent-dark-color);
  }
}

