.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;


  &__carousel {
    position: relative;
    padding: 20px 25px;
    margin: 0;
    max-width: 550px;
    text-align: center;
    background: var(--card-bg-color) no-repeat center;

  }

  &__title {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
  }

  &__name {
    color: var(--accent-dark-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
  }

  &__desc {
    margin: 0;
    padding: 0;
  }
}

